@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@layer app {
    :root {
        --surface-border-color: #d3d7db;
        --surface-ground-color: #f0f0f0;
        --surface-overlay-color: #ffffff;
        --text-color: #334155;
        /*noinspection CssUnresolvedCustomProperty*/
        --link-color: var(--p-indigo-600);
        --header-height: 4rem;
        --header-margin: 1rem;
        --header-with-margin-height: calc(var(--header-height) + var(--header-margin));

        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: var(--text-color);
        background-color: var(--surface-ground-color);

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    * {
        border-color: var(--surface-border-color);
    }

    .page-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto
    }

    @media (min-width: 768px) {
        .page-container {
            max-width: 768px
        }
    }

    @media (min-width: 1024px) {
        .page-container {
            max-width: 100%;
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    @media (min-width: 1280px) {
        .page-container {
            max-width: 1280px
        }
    }

    .surface-overlay {
        background-color: var(--surface-overlay-color);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --surface-ground-color: #09090b;
            --surface-overlay-color: #18181b;
            --surface-border-color: #35353a;
            --text-color: #dddddd;
            /*noinspection CssUnresolvedCustomProperty*/
            --link-color: var(--p-indigo-300);
        }
    }
}
